<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
</head>
<body>
<h1>Course List</h1>
<tr th:if="${courses.size()} == 0">
    No courses yet.
</tr><br />
<a href="/add">Add a Course</a>
<table>
    <tr>
        <th>Title</th>
        <th>Instructor</th>
        <th>Credits</th>
        <th>Action</th>
    </tr>
    <tr th:if="${count} == 0">
        No classes yet.
    </tr>
    <tr th:each="course : ${courses}">
        <td th:text="${course.title}"></td>
        <td th:text="${course.instructor}"></td>
        <td th:text="${course.credit}"></td>
        <td>
            <a th:href="@{update/{id}(id=${course.id})}">Update</a>
            <a th:href="@{detail/{id}(id=${course.id})}">Details</a>
            <a th:href="@{delete/{id}(id=${course.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>